.btn {
  border: none;
  padding: 7px;
  border-radius: 10px;
}

.btn-danger {
  color: azure;
  background-color: red;
}

.todo-container {
  position: flex;
  justify-content: start;
  align-items: flex-start;
}

h4 {
  display: inline;
}

p {
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
